<div class="container">
    <h1>Edit Product</h1>
    <form name="regForm" novalidate ng-submit="vm.updateProduct()"
          autocomplete="off">
    <table class="table table-striped">
        <tr>
            <td>Product Name</td>
            <td>
                <input type="text" name="name" class="form-control"
                       ng-model="vm.result.name" required>
            </td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>
                <input type="text" name="brand" class="form-control"
                       ng-model="vm.result.brand" required>
            </td>
        </tr>
        <tr>
            <td>UPC12</td>
            <td>
                {{vm.result.upc12 }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-success">
                    Update
                </button>
            </td>
        </tr>
    </table>
        </form>
</div>