<div class="container">
    <h2>Groceries Listing</h2>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input class="form-control" type="text" name="searchTerm"
                   ng-model="vm.searchTerm"
                   placeholder="Enter search term by product name or Brnad">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="vm.searchByProduct()">
                Search Product
            </button>
            <button class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="vm.searchByBrand()">
                Search by BrandName
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product </th>
            <th>Brand </th>
            <th>UPC12 Barcode</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.products">
            <td>{{item.name}}</td>
            <td>{{item.brand}}</td>
            <td>
                <img class="img-responsive"
                     src="http://www.barcodes4.me/barcode/c128a/035200264013.png?IsTextDrawn=1">
            </td>
            <th><button class="btn btn-info form-control"
                        ng-click="vm.showProduct(item.id)">
                Edit
            </button></th>
        </tr>
        </tbody>
    </table>

</div>